@import 'general';

// Fix dark mode in safari
:root {
  color-scheme: light dark;
}

html { box-sizing: border-box; }

body {
  @include mode;

  box-sizing: border-box;
  font-family: $font-family;
  font-size: font('medium');
  min-width: 280px;
  padding: spacer('small');
}

a {
  color: $t3-orange;
  text-decoration: none;
}

.gitpod {
  @include button;

  display: block;
  margin: spacer('large') auto auto;
}

.not-available {
  display: block;
  text-align: center;
}

.loading {
  @include spinner($t3-orange, $size: 7px)
}

.container {
  border-bottom: 1px solid $t3-orange;
  column-gap: 10px;
  display: grid;
  grid-template-columns: 100px 140px;
  grid-template-rows: auto;
  padding: spacer('xs') 0;
}

.label,
.value {
  grid-auto-columns: auto;
}

.value {
  box-sizing: border-box;

  select,
  input {
    @include mode;

    border: 0;
    font-family: $font-family;
    font-size: font('medium');
    width: 100%;
  }

  input {
    padding: 0;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

.alert-warning {
  color: $t3-light-grey;
  font-size: font('small');
}
