root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = tab
insert_final_newline = true
max_line_length = 120
tab_width = 4
trim_trailing_whitespace = true

[*.scss]
indent_size = 2
indent_style = space

[{*.cjs,*.js}]
indent_style = space
quote_type = single

[{*.htm,*.html,*.ng,*.sht,*.shtm,*.shtml}]
indent_style = space
