# Used to set credentials for addons.mozilla.org when
# "yarn sign:development" or "yarn sign:production" was called
# see https://addons.mozilla.org/de/developers/addon/api/key/ for details
WEB_EXT_API_KEY="some:5445:666"
WEB_EXT_API_SECRET="<api secret>"
