@import 'variables';

@mixin button {
  background: $t3-orange;
  border: 1px solid $t3-orange;
  color: $white;
  cursor: pointer;
  font-family: $font-family;
  font-size: 18px;
  padding: 5px;
  text-align: center;
}

@mixin mode($border: false, $link: false) {
  background: $light-menu;
  color: $light-text;

  @if $border {
    border: 1px solid $light-border;
  }

  @if $link {
    &:hover {
      background: $light-menu-hover;
    }
  }

  @media (prefers-color-scheme: dark) {
    background: $dark-menu;
    color: $dark-text;

    @if $border {
      border: 1px solid $dark-border;
    }

    @if $link {
      cursor: pointer;

      &:hover {
        background: $dark-menu-hover;
      }
    }
  }
}

@mixin spinner($color: $spinner-color, $background: $spinner-background, $size: 10px) {
  animation: spin 1s ease-in-out infinite;
  border: 3px solid $background;
  border-radius: 50%;
  border-top-color: $color;
  display: inline-block;
  height: $size;
  width: $size;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
