// Dark Mode
$dark: #333333;
$dark-menu: #4a4a4f;
$dark-menu-hover: #5c5c61;
$dark-text: #f9f9fa;
$dark-border: #27272b;

// Light Mode
$light: #f9f9fa;
$light-menu: #fff;
$light-menu-hover: #ededed;
$light-text: #1a1a1a;
$light-border: #b8b8b8;

// Spinner
$spinner-background: #dedede;
$spinner-color: #999;

// Common
$white: #ffffff;
$spacers: ("small": .5rem, "medium": 1rem, "large": 4rem);

// TYPO3
$font-family:  Share, Arial;

$t3-orange: #eb7c00;
$t3-orange-light: #f7a831;

$t3-dark-grey: #515151;
$t3-mid-grey: #8c8c8c;
$t3-light-grey: #b9b9b9;
$t3-super-light-grey: #f4f4f4;

